*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #F5F5F5;
  line-height: 113%;
  font-size: 1.6rem;
  background-color: #F5F5F5;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.title-1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #ffffff;
}

.title-2 {
  font-size: 4rem;
  font-weight: 700;
  color: #F5F5F5;
  line-height: 100%;
}

.title-3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #425844;
  transition: .7s;
}

.title-3_white {
  color: #F5F5F5;
}

.title-3_green-light {
  color: #61A568;
}

.title-4 {
  font-size: 1.7rem;
  font-weight: 300;
  color: #61A568;
  text-transform: uppercase;
  transition: .7s;
}

.title-4:hover {
  transform: scale(1.07);
  text-shadow: #61A568 3px 3px 7px;
}

.sidebar {
  background-color: #425844;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}

.header {
  background-color: #101D2C;
  grid-column: full-start / col-end 6;
}

.gamers {
  background-color: #101D2C;
  grid-column: col-start 7 / full-end;
}

.features {
  padding: 15rem 0;
  background-color: #F5F5F5;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem 4rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem;
}

.feature__icon {
  background: #61A568;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4.5rem;
  grid-row: 1 / span 2;
  transform: translateY(-1.5rem);
  transition: .5s;
}

.feature:hover .feature__icon {
  transform: scale(1.07);
  background: #425844;
  -webkit-background-clip: text;
  color: transparent;
}

.feature:hover .feature__title {
  transform: scale(1.07);
  text-shadow: #61A568 3px 3px 7px;
}

.feature__text {
  color: #425844;
}

.banner-img {
  background: url(../img/back.png) center/cover no-repeat;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  transition: .5s;
}

.banner-img:hover .banner-img__img:not(:hover) {
  transform: scale(0.95);
  filter: blur(0.2rem);
}

.banner-img__img {
  transition: .5s;
  backface-visibility: hidden;
  filter: brightness(0.9);
}

.banner-img__img:hover {
  transform: scale(1.03);
  z-index: 20;
  filter: brightness(1.1);
}

.banner-img__img-1 {
  width: 100%;
  grid-column: 3 / 15;
  grid-row: 3 / 12;
}

.banner-img__img-2 {
  width: 100%;
  grid-column: 5 / -1;
  grid-row: 10 / 23;
  transform: translateX(3rem);
}

.banner-text {
  background-color: #101D2C;
  grid-column: col-start 5 / full-end;
  padding: 0 4vw;
  display: grid;
  align-content: center;
  justify-items: start;
}

.banner-text__text {
  margin-bottom: 4rem;
}

.btn {
  color: #F5F5F5;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #425844;
  border: 0;
  padding: 1.5rem 3rem;
  position: relative;
  transition: .7s;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 4rem;
  height: 10rem;
  opacity: .9;
  filter: blur(2rem);
  left: -7rem;
  top: -5rem;
  transform: translateX(-15px) skewX(-45deg);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
  background: #61A568;
  cursor: pointer;
}

.btn:hover::after {
  left: 170%;
  transition: all 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:active {
  transform: translateY(0.5rem);
  color: #AAAAAA;
  background-color: #425844;
}

.cards {
  padding: 15rem 0;
  background-color: #F5F5F5;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem 6rem;
}

.card {
  background-color: #101D2C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__img {
  width: 100%;
  grid-column: 1 / -1;
}

.card__title {
  grid-column: 1 / -1;
  background-color: #425844;
  padding: 1.5rem 8rem;
  text-align: center;
  font-weight: 700;
  width: 80%;
  justify-self: center;
  transform: translateY(-50%);
}

.card__icon {
  background-color: #F5F5F5;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  transition: .5s;
  margin-right: 1rem;
}

.card__text {
  font-weight: 300;
}

.card__btn {
  grid-column: 1 / -1;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

.gallery {
  background-color: #101D2C;
  grid-column: full-start / full-end;
}

.footer {
  background-color: #101D2C;
  grid-column: full-start / full-end;
}
