$color-green-dark: #425844
$color-green-light: #61A568

$color-blue-dark: #101D2C

$color-gray-dark: #AAAAAA
$color-gray-light: #F5F5F5

$color-black: #000000
$color-white: #ffffff

$text-shadow: $color-green-light 2px 2px 5px
$box-shadow: 3px 3px 4px #7e7e7e80

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5% // 1rem = 10px

body
    font-family: "Montserrat", sans-serif
    font-weight: 400
    color: $color-gray-light
    line-height: 113%
    font-size: 1.6rem
    background-color: $color-gray-light

.container
    display: grid
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content)
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]

.mb-4
    margin-bottom: 4rem

.mb-3
    margin-bottom: 3rem

.title
    &-1
        font-size: 4.5rem
        font-weight: 700
        color: $color-white
    &-2
        font-size: 4rem
        font-weight: 700
        color: $color-gray-light
        line-height: 100%
    &-3
        font-size: 1.8rem
        font-weight: 700
        color: $color-green-dark
        transition: .7s
        &_white
            color: $color-gray-light
        &_green-light
            color: $color-green-light
    &-4
        font-size: 1.7rem
        font-weight: 300
        color: $color-green-light
        text-transform: uppercase
        transition: .7s
        &:hover
            transform: scale(1.07)
            text-shadow: $text-shadow

.sidebar
    background-color: $color-green-dark
    grid-column: sidebar-start / sidebar-end
    grid-row: 1 / -1

.header
    background-color: $color-blue-dark
    grid-column: full-start / col-end 6

.gamers
    background-color: $color-blue-dark
    grid-column: col-start 7 / full-end

.features
    padding: 15rem 0
    background-color: $color-gray-light
    grid-column: center-start / center-end
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr))
    grid-gap: 3rem 4rem
    align-items: start

.feature
    display: grid
    grid-template-columns: min-content 1fr
    grid-gap: 1.5rem 2.5rem
    &__icon
        background: $color-green-light
        -webkit-background-clip: text
        color: transparent
        font-size: 4.5rem
        grid-row: 1 / span 2
        transform: translateY(-1.5rem)
        transition: .5s
    &:hover &__icon
        transform: scale(1.07)
        background: $color-green-dark
        -webkit-background-clip: text
        color: transparent
    &:hover &__title
        transform: scale(1.07)
        text-shadow: $text-shadow
    &__text
        color: $color-green-dark

.banner
    &-img
        background: url(../img/back.png) center / cover no-repeat
        grid-column: full-start / col-end 4
        display: grid
        grid-template-columns: repeat(16, 1fr)
        grid-template-rows: repeat(24, 1fr)
        transition: .5s
        &:hover &__img:not(:hover)
            transform: scale(.95)
            filter: blur(.2rem)
        &__img
            transition: .5s
            backface-visibility: hidden
            filter: brightness(.9)
            &:hover
                transform: scale(1.03)
                z-index: 20
                filter: brightness(1.1)
            &-1
                width: 100%
                grid-column: 3 / 15
                grid-row: 3 / 12
            &-2
                width: 100%
                grid-column: 5 / -1
                grid-row: 10 / 23
                transform: translateX(3rem)
    &-text
        background-color: $color-blue-dark
        grid-column: col-start 5 / full-end
        padding: 0 4vw
        // display: flex
        // flex-direction: column
        // justify-content: center
        // align-items: flex-start
        display: grid
        align-content: center
        justify-items: start
        &__text
            margin-bottom: 4rem

.btn
    color: $color-gray-light
    text-transform: uppercase
    font-weight: 700
    background-color: $color-green-dark
    border: 0
    padding: 1.5rem 3rem
    position: relative
    transition: .7s
    overflow: hidden
    &::after
        content: ""
        position: absolute
        background: rgba(255,255,255,0.5)
        width: 4rem
        height: 10rem
        opacity: .9
        filter: blur(2rem)
        left: -7rem
        top: -5rem
        transform: translateX(-15px) skewX(-45deg)
        transition: all .7s cubic-bezier(.19, 1, .22, 1) //обратно
        // left: 0
        // top: 0
        // transform: translateX(-100px) skewX(-15deg)
    &:hover
        background: $color-green-light
        cursor: pointer
        &::after
            left: 170%
            transition: all 1.4s cubic-bezier(.19, 1, .22, 1)
            // transform: translateX(300px) skewX(-15deg)
            // transition: .9s
    &:active
        transform: translateY(.5rem)
        color: $color-gray-dark
        background-color: $color-green-dark

.cards
    padding: 15rem 0
    background-color: $color-gray-light
    grid-column: center-start / center-end
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
    grid-gap: 4rem 6rem

.card
    background-color: $color-blue-dark
    display: grid
    grid-template-columns: repeat(2, 1fr)
    box-shadow: $box-shadow
    &__img
        width: 100%
        grid-column: 1 / -1
        transition: .5s
    &:hover &__img
        filter: brightness(1.5) saturate(70%)
    &__title
        grid-column: 1 / -1
        background-color: $color-green-dark
        padding: 1.5rem 8rem
        text-align: center
        font-weight: 700
        width: 80%
        justify-self: center
        transform: translateY(-50%)
        transition: .5s
    &:hover &__title
        background-color: $color-green-light
    &__icon
        background-color: $color-gray-light
        -webkit-background-clip: text
        color: transparent
        font-size: 2rem
        transition: .5s
        margin-right: 1rem
    &:hover &__icon
        background-color: $color-green-light
    &__text
        font-weight: 300
    &__btn
        grid-column: 1 / -1
    &:hover &__btn
        cursor: pointer
        background: $color-green-light
        &::after
            transform: translateX(500px) skewX(-15deg)
            transition: .9s
        &:active
            transform: translateY(.5rem)
            color: $color-gray-dark
            background-color: $color-green-dark


.content
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 0 1.5rem
    margin-bottom: 3rem

.gallery
    background-color: $color-blue-dark
    grid-column: full-start / full-end

.footer
    background-color: $color-blue-dark
    grid-column: full-start / full-end
